{% extends "layout.html" %}
{% block content %}
    <body  >
        <h1 style="font-weight: 500;text-align: center;margin-top:20px;color:gray">About</h1>
    <p style="text-align: center;font-family: Georgia ;border:3px solid ;margin:0px 100px 250px 100px;border-radius:12px;padding-bottom:30px;color:black ">
        <br>
        <br>

        This system includes updating the records of forces sent , deletion of data
        when security personnel are returned,etc.
        <br>
        Due to this people do not have to visit and enquire about the security required and no more long queues
        .<br>The core idea is to improve the management of data. 
    </p>
    </body>
    


{% endblock content%}

